<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ArtBlog - 个人设置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="Public/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Public/css/artBlog.css" />
    <link rel="icon" href="Public/images/icon.png" />
</head>
<body>
<!-- 导航 开始-->
<nav class="navbar navbar-default  navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.php?s=Home/Index/home">ArtBlog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.php?s=Home/Index/home">首页</a></li>
                <li><a href="index.php?s=Home/Index/myBlog">我的博客</a></li>
                <li><a href="index.php?s=Home/Index/workHelp">办公助手</a></li>
                <li><a href="index.php?s=Home/Index/demoShow">案例展示</a></li>
                <li><a href="index.php?s=Home/Index/about">关于我们</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" id="login">
                <li><a href="index.php?s=Home/Index/login">登录</a></li>
                <li><a href="index.php?s=Home/Index/register">注册</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" id="user">
                <li class="active" class="dropdown" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="name">昵称 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="index.php?s=Home/Index/myBlog">我的主页</a></li>
                        <li class="divider"></li>
                        <li><a href="index.php?s=Home/Index/personSet">个人设置</a></li>
                        <li class="divider"></li>
                        <li><a href="index.php?s=Home/Index/messageCenter">消息中心</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="exit">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--导航 结束-->

<!--内容 开始-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 myBlog-left">
            <div class="col-md-12" id="userInfo">
                <!--<img src="Public/images/firefox.png" alt="..." class="img-circle img-responsive">-->
                <!--<h3 class="direction-center">艺术家</h3>-->
                <!--<a class="btn btn-danger btn-block"><span class="glyphicon glyphicon-heart"></span> 访问（120）</a>-->
                <!--<br/>-->
                <!--<a class="btn btn-danger btn-block"><span class="glyphicon glyphicon-share-alt"></span> 分享（100）</a>-->
                <!--<br/>-->
            </div>
            <div class="col-md-12">
                <div class="list-group" id="personSetType">
                    <a href="#" class="list-group-item active">个人资料</a>
                    <a href="#" class="list-group-item">头像设置</a>
                    <a href="#" class="list-group-item">修改密码</a>
                    <a href="#" class="list-group-item">邮箱验证</a>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="col-md-12 row-sliver personSet-right">
                <br/>
                <!--个人资料-->
                <div class="col-md-offset-2 col-md-6" id="personInfo">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <h4>昵称</h4>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="昵称">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <h4>职业</h4>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="职业">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <h4>性别</h4>
                        </div>
                        <div class="col-md-9">
                            <select class="form-control">
                                <option value ="volvo">保密</option>
                                <option value ="saab">男</option>
                                <option value="opel">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <h4>个性签名</h4>
                        </div>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="2" placeholder="个性签名"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                        </div>
                        <div class="col-md-9">
                            <button class="btn btn-block btn-info">保存</button>
                        </div>
                    </div>
                </div >
                <!--头像设置-->
                <div class="col-md-offset-2 col-md-5 personSet" id="headPic">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <img src="Public/images/firefox.png" alt="..." class="img-responsive">
                        </div>
                        <div class="col-md-offset-3 col-md-9">
                            <br/>
                            <button class="btn btn-block  btn-info">上传头像</button>
                        </div>
                    </div>
                </div>
                <!--修改密码-->
                <div class="col-md-offset-2 col-md-6 personSet" id="changePwd">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <h4>当前密码</h4>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="password" placeholder="请输入当前密码">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <h4>新密码</h4>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="password" placeholder="请输入新密码">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <h4>确认密码</h4>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" type="password" placeholder="请确认密码">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                        </div>
                        <div class="col-md-9">
                            <button class="btn btn-block btn-info">保存</button>
                        </div>
                    </div>
                </div>
                <!--邮箱验证-->
                <div class="col-md-offset-2 col-md-6 personSet"  id="emailVerify">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <h3 class="text-center">当前邮箱</h3>
                            <h2 class="text-center">123456789@qq.com</h2>
                            <h3 class="text-center" style="color: #2aabd2">已验证</h3>
                        </div>
                        <div class="col-md-offset-5 col-md-5">
                            <button class="btn btn-block btn-lg btn-info">更改邮箱</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!--内容 结束-->

<!--结尾 开始-->
<div class="footer" id="footer">

</div>
<!--结尾 结束-->
<script type="text/javascript" src="Public/js/jquery.min.js" ></script>
<script type="text/javascript" src="Public/bootstrap/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="Public/js/artBlog.js" ></script>
<script type="text/javascript" src="Public/js/personSet.js" ></script>
</body>
</html>
